<html lang = "en">
<head>
<title> Harmony Work</title>
<meta name = "viewport" content = "width=device-width, initial-scale = 1">
<link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">
</script>
<link rel="shortcut icon" href="./icon.png" type="image/x-icon">
<link rel="stylesheet" href="work.css">
</head>
<body>
    
    
    <script src="work.js" ></script>
  
 <div id="main" >
    <div id="gooey">

    </div>
    <div id="page1" >
        <nav>
            <a href="index.html"><img src="logo2-removebg-preview.png"
                alt="" width="300px" class="image-fluid"></a>
            <div id="nav-part2">
                <h4><a href="work.html">Home</a></h4>
                <h4><a href="studio.html">Goals</a></h4>
                <h4><a href="contact.html">Contact</a></h4>
            </div>
            
        </nav>
        <div id="center">
            <div id="left1">
                <h1>Goals Requires Action
                <br>
                <span>And <br> Action Requires Information</span>
                </h1>
            </div>
        
        
        
            
        
    </div>
       
       
  

    <div class="con-pic row">
        <div class="col-md-4 rigt"><a href="tempplate2.html"><img src="./images/Poverty Hd Transparent, Portrait Of Poverty, Poverty, Kemiskinan, Illustration PNG Image For Free Download (1).jpg"></a>
        </div>
    <div class="col-md-4 ceter"><a href="template.html"><img src="./images/The Pizza.jpg" alt="" class="zoom image-fluid"></a></div>
    <div class="col-md-4 lft"><img src="images/Premium Vector _ Flat design world mental health day.jpg" alt="" class="zoom image-fluid"></div>
       </div><br>
    <div class="con-pic row">
        <div class="col-md-4 rigt2"><img src="./images/4.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 ceter2"><img src="./images/Premium Vector _ Gender equality illustration.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 lft2"><img src="./images/Happy International Water Day_ Support policies that promote access to safe, fresh water. Every kid deserves a clean break.jpg" alt="" class="zoom image-fluid"></div>
       </div><br>
    <div class="con-pic row">
        <div class="col-md-4 rigt"><img src="./images/San Diego Community Power - Powering a clean, affordable energy future.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 ceter"><img src="./images/Good team Customizable Cartoon Illustrations _ Bro Style (1).jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 lft"><img src="./images/Screenshot 2024-03-01 233835.png" alt="" class="zoom image-fluid"></div>
       </div><br>
    <div class="con-pic row">
        <div class="col-md-4 rigt2"><img src="./images/Believe in gender equality_ Now you can invest in it.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 ceter2"><img src="./images/Greener Urban Future.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 lft2"><img src="./images/The 5 Rs of Zero Waste.jpg" alt="" class="zoom image-fluid"></div>
       </div><br>
    <div class="con-pic row">
        <div class="col-md-4 rigt"><img src="./images/Climate Change _ Welum.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 ceter"><img src="./images/45+ Beautiful Free Summer Wallpapers For iPhone - Teens Society.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 lft"><img src="./images/download.jpg" alt="" class="zoom image-fluid"></div>
       </div><br>
    <div class="con-pic row">
        <div class="col-md-4 rigt2"><img src="./images/world day of social justice design vector illustration_ 20 february.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 ceter2"><img src="./images/17sdg.jpg" alt="" class="zoom image-fluid"></div>
    <div class="col-md-4 lft2"><img src="./images/Sustainable consumption and production.jpg" alt="" class="zoom image-fluid"></div>
       </div><br>
  
  
  
       


</div>
<div id="page4">

</div>
<div id="full-scr">
    <div id="full-div1">
        
    </div>
</div>



</div>
<div id="footer">

<div id="footer-div">
</div>
<div id="footer2-div">
</div>
<div id="footer3-div">
</div>
<h1>Harmony</h1><br><br>
<div id="footer-bottom">
<p><a href="">Copyrights reserved</a> </p>
<p><a href="">instagram</a></p>
<p><a href="">brooklyn,NY</a></p>
<p><a href="">linkedin</a></p>
</div>
</div>
</div>
<script src="script.js"></script>

</body>
</html>